/* Universal styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

/* Styles for the body element */
body {
    background-color: #5fecfc;
}

/* Styles for paragraph elements */
p {
    padding: 10px;
}

/* Styles for the header */
header {
    display: flex;
    height: 100px;
    border: 2px solid #FCCB60;
    background-color: #FDBF90;
    justify-content: center;
    color: #41595C;
}

/* Styles for the page titles in the header */
.title {
    border: 2px solid #FCCB60;
    height: 100px;
    width: 200px;
    padding: 10px;
    flex: auto; 
    align-content: center;
}

/* Styles for the page links in the header */
.page-link {
    flex: 1;
    border: 2px solid #FCCB60;
    height: 100px;
    width: 100px;
    padding: 10px;
    align-content: center;
}

/* Styles for service div*/
.service,
.background,
.interests {
    display: flex;
    flex-direction: row;
}

/* Styles for service content */ 
.service-content,
.background-content,
.interests-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}


/* style for background image
.background-img {
    max-width: 300px;
}
*/

/* Styles for Peace Corps Goals list */
.pc-goals {
    padding: 20px;
    flex: 1;
}

/* Styles for items in Peace Corps Goals list */
.pc-goals li{
    padding: 10px;
}

/* Styles for service slideshow container */
.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.img-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 20px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}


/* Styles for Interests */


/* Styles for interest headers */


/* Styles for interest lists */


/* Styles for recipes page */

















